* {
  font-size: 62.5%;
  font-family: 'Pretendard', sans-serif;
}

p,
span {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/assets/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
