* {
  font-size: 62.5%;
  font-family: 'Pretendard', sans-serif;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
strong,
em {
  font-size: 1.4rem;
}

em {
  color: #999999;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

th,
td {
  padding: 1rem;
  border: 1px solid #a5a5a5;
  font-size: 1.4rem;
  word-break: keep-all;
}

th {
  background-color: #ccc;
  color: #313131;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/assets/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
