.chat_trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  background: linear-gradient(45deg, #2454ce, #34c2e2);
  box-shadow: 0 5px 30px rgba(0, 150, 249, 0.2);
  z-index: 9999;
  transition: all 0.025s ease-in-out;
  cursor: pointer;

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    scale: 0.95;
    filter: brightness(0.95);
  }
}

.chat_trigger_icon {
  width: 65%;
  height: auto;
  object-fit: cover;
}

.chat_trigger_message {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 110px;
  right: 30px;
  width: 250px;
  padding: 14px 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out forwards;
  cursor: pointer;

  &:active {
    scale: 0.98;
  }

  &.hidden {
    animation: fadeOut 0.2s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 5px 0;
  }

  .description {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #939393;
    margin: 0;
  }

  .chat_trigger_message_icon {
    margin-right: 5px;
  }
}
