.chat {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 450px;
  height: 700px;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.2);
  animation: fadeOut 0.2s ease-in-out forwards;
  visibility: hidden;

  &.visible {
    animation: fadeIn 0.2s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-60px);
      visibility: visible;
    }

    to {
      opacity: 1;
      transform: translateY(-80px);
      visibility: visible;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(-80px);
      visibility: visible;
    }

    to {
      opacity: 0;
      transform: translateY(-60px);
      visibility: visible;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  z-index: 9;

  .app_content {
    display: flex;
    align-items: center;
  }

  .app_icon {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .app_information {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .app_name {
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0 0 3px 0;
    }

    .app_description {
      font-size: 1.2rem;
      color: #9d9d9d;
      margin: 0;
    }
  }
}

.body {
  position: relative;
  flex: 1 1 0px;
  height: auto;
  padding: 70px 12px 0 12px;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .chat_information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 40px;

    img {
      width: 140px;
      height: auto;
    }
  }

  .chat_title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 20px 0 0 0;
  }

  .chat_history {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .chat_time {
    p {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 600;
      color: #9d9d9d;
      margin: 0;
    }
  }

  .bot {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    .bot_avatar {
      width: 40px;
      height: auto;
      margin-right: 8px;
      border-radius: 10px;
      overflow: hidden;

      .bot_avatar_image {
        width: inherit;
        height: inherit;
      }
    }

    .bot_message {
      width: 85%;
      color: #9d9d9d;
      margin: 0;

      .name {
        font-size: 1.2rem;
        margin: 0 0 4px 10px;
      }

      .loading {
        padding: 8px 12px 4px 12px !important;
      }

      .message {
        display: inline-block;
        max-width: 95%;
        line-height: 1.4;
        color: #313131;
        background: #f2f2f2;
        margin: 0;
        padding: 0 12px;
        border-radius: 18px;
        box-sizing: border-box;
        word-break: keep-all;

        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  .user {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;

    .message {
      max-width: 95%;
      font-size: 1.4rem;
      line-height: 1.4;
      color: #fff;
      background: #2362d0;
      margin: 0;
      padding: 10px 12px;
      border-radius: 18px;
      box-sizing: border-box;
      white-space: pre-wrap;
      word-break: keep-all;
    }
  }
}

.footer {
  width: 100%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}
