.chat {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    border-radius: 30px;
    background-color: #8cb87f;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #fff;
}